.bg{
	top:-61px;
	left:232px;
	position:absolute;
	background-image:url(../images/webgb.jpg);
	width:1200px;
	height:1230px;
	filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity:0.3;opacity:0.3;
	z-index:10000;

}
*{
	margin: 0 auto;
	padding: 0;
	font-family:"微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#575757;
    	text-align:justify;
}

ul,ol {
	list-style: none outside none;
}
body{
    background-color: #f8f8f8;  
}
.left{
	float: left;
}
.right{
    float:right;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
    padding: 2px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
}

.btn:hover {
    -moz-transition: background-position 0.1s linear 0s;
    background-color: #E6E6E6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.font-bold{
	font-weight:bold;
}
.font-normal{
	font-weight:normal;
}
.font-green{
	color:#22AC38;
}
.font-yellow{
	color:#F8B62D
}
.font-gray{
	color:#B5B5B6;
}
.font-black{
    color: #575757;
}
.font-little-green{
    color: #8FC31F;
}
.font-red{
	color: red;
}
.font-12{
	font-size:12px;
}
.font-14{
	font-size:14px;
}
.font-10{
	font-size:10px;
}
.font-18{
	font-size:18px;
}
.clear{
	clear:both;
}

.margin-top-10{
	margin-top:10px;
}
.margin-left-5{
	margin-left:5px;
}

#event-simple-wrapper{
    border-bottom: 1px solid #B4BBCD;
    margin-bottom: 10px;
}
/*********
 *iframe 
 */

#iframe-container{
	padding: 0px;
	margin: 0 auto;
	width:780px;
	z-index: 2;
	overflow:hidden;
}
.iframe-item-action{
    float:right;
    display:block;
    margin-right:15px;
}

.iframe-item-action img{
    margin:0 2px;
    width:25px;
    height:25px;
    display:block; 
    float:left;
}
.iframe-item-action span{
    font-size:18px;
    display:block;
    float:left;
    margin-top:4px;
}
.iframe-item{
	width:250px;
	overflow:hidden;
}
.iframe-replyinfo{
    width:83%;
}
.iframe-msgs{
	width:100%;
	overflow:hidden;
}
.iframe-item{
	width:100%;
	margin-top:5px;
	float:left;
	border-bottom: 1px solid #B5B5B6;	
}
.iframe-item img{
	width:32px;
	height:32px;
	margin-right:5px;
	vertical-align:middle;
	display:block;
	margin-bottom:5px;
}
#iframe-replyto{	
	width:170px;
	height:20px;
	border:1px solid #CCCCCC;
}
.commentline{
    width:100%;
    line-height: 14px;
}
.text-words{
    background:#FFFFFF url("../images/words.png") no-repeat;
    width:690px;
    overflow:hidden;
    padding: 12px 0px 10px 10px;
    float:left;
    margin:0 10px 10px 5px;
    
}
.text-words span{
    border: 1px solid #B5B5B6;   
    width:675px;
    border-top:none;
    padding:0 5px;
}

/*****
 * index.html
 */
#event-intro{
	width: 780px;
	margin: 0 auto;
	padding:10px;
	border:1px solid #B4BBCD;
	overflow: hidden;
    background-color:#FFFFFF;
}
#container {
	width: 820px;
	margin: 0 auto;
}
#download{
	background-image: url('../images/download.png');
	width:42px;
	height: 128px; 
	right:0;
	position:fixed;
	margin-top:300px;
	margin-right: 6px !important;
}
#evnet-creation{
	width:600px;
	margin:0 auto;
	overflow:hidden;
	border:1px solid #B4BBCD;
	background:#FFFFFF;
}
/*event-intro*/

#event-joinamount{
	float:right;
	margin-top:4px;
}
#detail-left{
	width: 200px;
	height: auto;
	overflow:hidden;
	float:left;
}
.myjiathis{
	float:left;
	margin-top:25px;
	margin-left:5px;
}
#detail-left #event-creater-info{
	height:33px;
	width:115px;
	margin-left:4px;
	line-height:14px;
}

#event-creater-name{
	font-size:10pt;
}
#event-creater-college,#event-creater-sex{
	font-size:8pt;
}
#li-createimg{
	width:64px;
	height:64px;
	
}
#detail-left ul li{
	float: left;
	margin:1px;
}
#detail-left ul li img{
	float:left;
	width:31px;
	height:30px;
}
#detail-right{
	float:left;
	margin:0 20px;
	width:320px;
}
#action{
	float:right;
}
#action #ckepop{
	margin-top:2px;
}
#action .btn{
	padding:2px 30px;
}

#detail-info{
	margin-top:26px;
	font-size:12px;
	color:gray;
}
#detail-info li{
	margin:5px 0;
	width:100%;
	border-bottom:1px solid #DDDDDD;
}
#detail-info li img{
    vertical-align:middle;
}

#hotimg{
	width:220px;
	height:150px;
	float:left;
	position:relative;
}
#photoframe{
	width:220px;
	height:150px;
	position:absolute;
	left:0;
	top:0;
	z-index: 1;
	border:0 none;
}
#recount{
	display:block;
	position:absolute;
	left:18px;
	top:20px;
	z-index: 1;
}
#hotphoto{
	height: 120px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 190px;
    z-index: 0;
}

.item {
	width: 388px;
	margin: 20px 10px 10px;
	float: left;
	background-color: #fff;
	border: 1px solid #b4bbcd;
	min-height: 50px;
	text-align: justify;
	word-wrap: break-word;
}
.itempack{
    background-color: #f8f8f8;
    border: none;
    min-height: 50px;
}
.inner {
	padding: 0 10px 10px 10px;
	float:left;
}
/*timeline navigatior css*/
.timeline_container {
	width: 16px;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	display: block;
}
.timeline{
	margin: 0 auto;
	background-color: #DDDDDD;
	display: block;
	margin-top: 10px;
	width: 4px;
}

/*arrow css style*/
.rightCorner {
	background-image: url("../images/right.png");
	display: block;
	height: 15px;
	margin-left: 388px;
	margin-top: 8px;
	padding: 0;
	vertical-align: top;
	width: 13px;
	z-index: 2;
	position: absolute;
}
.leftCorner {
	background-image:url("../images/left.png");
	display: block;
	height: 15px;
	width: 13px;
	margin-left: -13px;
	margin-top: 8px;
	position: absolute;
	z-index: 2;
}

/*item-header style*/

.item-header{
	margin:10px;
	float:left;
	width:378px;
}
.item-header .avatar{
	float:left;
	margin-right:8px;
	width:30px;
	height:30px;
}
.item-header .item-user{
	display:block;
	width:150px;
	font-size:12px;
	float:left;
}
.item-header .item-user span{
	display:block;
}

.item-action{
	float:right;
	display:block;
	margin-right:12px;
	vertical-align:middle;
}
.likewrap{
	float:right;
	overflow:hidden;
}
.item-action img{
	margin:0 2px;
	width:48px;
	height:32px;
	display:block; 
	vertical-align:middle;
	float:left;
}
.item-action span{
	font-size:20px;
	display:block;
	float:left;
	margin-top:3px;
}
.item-join{
	font-size:14px;
	margin:10px;
	float:left;
	width:400px;
}
.inner .event-img{
	overflow:hidden;
	width:370px;	
}
.inner .event-join img{
	width:30px;
	height:30px;
	margin:2px;
	float:left;
}

#footerwrap{
    width:100%;
    margin:0 auto;
    overflow:hidden;
    padding:10px;
}
#evnet-creation img{
	margin-left:160px;
	width:30px;
	height:30px;
	margin-top:10px;
	margin-bottom:10px;
	float:left;
}
#creation-tips{
	float:left;
	margin-top:15px;
	margin-left:10px;
}


/*go to up and down*/
.nav_up{
	padding:7px;
	background-color:white;
	border:1px solid #CCC;
	position:fixed;
	background:transparent url(../images/up.png) no-repeat top left;
	background-position:50% 50%;
	width:20px;
	height:20px;
	/*right:240px;*/
	left:80%;
	top:300px;
	opacity:0.7;
	white-space:nowrap;
	cursor: pointer;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
    -khtml-border-top-left-radius:3px;
	-khtml-border-top-right-radius:3px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.nav_down{
	padding:7px;
	background-color:white;
	border:1px solid #CCC;
	position:fixed;
	background:transparent url(../images/down.png) no-repeat top left;
	background-position:50% 50%;
	width:20px;
	height:20px;
	/*right:240px;*/
	left:80%;
	top:384px;
	opacity:0.7;
	white-space:nowrap;
	cursor: pointer;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
    -khtml-border-top-left-radius:3px;
	-khtml-border-top-right-radius:3px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

/*************************
 *photo.css *  
 */

#photo-left-section{
	float:left;
	width:510px;
	height: 100%;
}

#photo{
	margin:0 auto;
	display:block;
}

#photo-right-section{
	width: 240px;
	margin-left:15px;
	border: 1px solid #CCCCCC;
	padding:5px;
}
.photo-userinfo{
	width:100%;
	overflow:hidden;
}
.photo-createbyavatar{
	width:63px;
	height:63px;
}
.photo-item-user{
	margin-left:5px;
}

/******
 * hotphoto
 */
#slideshow-main{background:#fff;width:520px;float:left;margin-right:20px;}
#slideshow-main ul{margin:0;padding:0;width:429px;}
#slideshow-main li{width:520px;height:290px;display:none;position:relative;}
#slideshow-main li.active{display:block!important;}
#slideshow-main li span.opacity{position:absolute;bottom:0;left:0;display:block;width:100%;height:60px;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;z-index:500;}
#slideshow-main li span.content{position:absolute;bottom:0;left:0;display:block;width:100%;height:60px;z-index:1000;}
#slideshow-main li span.content h1{font-size:14px;margin:5px 0;padding:0 10px;color:#42e2e8;}
#slideshow-main li span.content p{font-size:11px;margin:5px 0;padding:0 10px;color:#42e2e8;}
#slideshow-carousel{float:left;width:206px;height:500px;position:relative}
#slideshow-carousel ul{background:#fff;margin:0;padding:0;list-style:none;}
#slideshow-carousel li{background:#fff;position:relative}/*height:97px;*/
#slideshow-carousel li .arrow{left:3px;top:28px;position:absolute;width:20px;height:40px;display:block;}
#slideshow-carousel li a{background:#fff;display:block;width:206px;}/*height:100px;*/
#slideshow-carousel .active{filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity:1.0;opacity:1.0;}
#slideshow-carousel .faded{filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}


.slide-time-span{
    display:block;
    float:left;
    background:#FFFFFF;
}
#carousel li a{
    border-left:#B5B5B6 6px solid;
    padding-left: 5px;
}
#welcomeHero{
    width:750px;
    margin:0 auto;
    padding:10px;
}


